{% extends "common.html" %}


{% block meta_title %}Your new password{% endblock %}

{% block header %}<b>Your new password</b>{% endblock %}

{% block body %}
<tr>
    <td style="font-family: Arial, sans-serif; padding: 12px 0 12px 0; font-size: 16px; line-height: 19px;">
        You have changed your password on the site <a href="https://gliderratio.ru"
                                                      style="color: #08c8df; -webkit-text-size-adjust:none; line-height: 100%; font-size: 16px; line-height: 19px;"
                                                      target="_blank">template.com</a>.
        <br/>
        Your login <b>{{ email }}</b>
        <br/>
        Your new permanent password <b>{{ password }}</b>
    </td>
</tr>

{% endblock %}
